body {
    margin: auto;
    background-color: #ffffff;
    height: auto;
    width: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 77px;
    background: #000000;
}

.nav a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 10px;
    padding-right: 20px;
}

.OY a {
    font-size: 36px;
    background-color: black;
    text-align: center;
    color: #FFD2DD;
    font-family: 'Great Vibes', cursive;
    align-items: center;
    display: flex;
    padding-left: 30px;
}

.column {
    height: 600px;
    width: auto;
}

.back_image {
    position: absolute;
    width: 1440px;
    height: 544px;
    left: 0px;
    top: 77px;
}

.column H1 {
    position: absolute;
    width: 335px;
    height: 106px;
    left: 347px;
    top: 146px;
    font-family: 'Sumana', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.column p {
    position: absolute;
    width: 640px;
    height: 187px;
    left: 195px;
    top: 266px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    /* or 150% */
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.avatar {
    position: absolute;
    width: 670px;
    height: 524px;
    left: 737px;
    top: 97px;
}

.work {
    height: 600px;
}

.work h1 {
    position: absolute;
    width: 369px;
    height: 76px;
    left: 585px;
    top: 700px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 134.77%;
    /* or 49px */
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.work img {
    position: absolute;
    width: 592px;
    height: 461px;
    left: 25px;
    top: 949px;
}

.work h2 {
    position: absolute;
    width: 156px;
    height: 55px;
    left: 947px;
    top: 990px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    color: #000000;
}

.work span {
    position: absolute;
    width: 649px;
    height: 182px;
    left: 730px;
    top: 1045px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    /* or 150% */
    display: flex;
    align-items: center;
    color: #000000;
}

.work2 .arrow {
    position: absolute;
    width: 102px;
    height: 0px;
    left: 535px;
    top: 1863.61px;
    border: 2px solid #205A8C;
    box-sizing: border-box;
    transform: matrix(1, -0.01, 0.02, 1, 0, 0);
    background-size: auto 100%;
}

.work2 {
    height: 600px;
}

.work2 img {
    position: absolute;
    width: 592px;
    height: 461px;
    left: 828px;
    top: 1569px;
}

.work2 h2 {
    position: absolute;
    width: 250px;
    height: 37px;
    left: 257px;
    top: 1610px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    color: #000000;
}

.work2 span {
    position: absolute;
    width: 678px;
    height: 109px;
    left: 98px;
    top: 1700px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    /* or 150% */
    display: flex;
    align-items: center;
    color: #000000;
}

.footer {
    position: absolute;
    width: 1440px;
    height: 354px;
    left: -1px;
    top: 2150px;
    background-color: black;
    padding-top: 70px;
    align-items: center;
}

.footer h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    height: 26px;
    left: 37.15%;
    right: 37.15%;
}

.footer a {
    color: white;
    align-items: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    text-align: center;
}

.footer div {
    text-align: center;
    margin-top: 30px;
}

.footer .icons {
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.footer .icons li {
    display: inline;
    justify-content: space-between;
    padding: 25px;
}

.footer ul {
    padding-inline-start: 0px;
    align-items: center;
    padding-top: 10px;
}

.footer span {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.204545px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.footer .bottom-message {
    position: absolute;
    bottom: 5px;
    width: 100%;
}

.footer .bottom-message span {
    margin: 0 auto;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px;
}

.left {
    flex: 0 1 auto;
    margin: 76px;
}

.right {
    flex: 0 1 auto;
    margin: 76px;
}

.about h1 {
    padding-left: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #000000;
}

.about ul {
    width: 568px;
    height: 109px;
    left: 731px;
    top: 306px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    color: #000000;
    list-style-type: none;
    padding-left: 0px;
}

.about li {
    margin: 25px 0;
}

.about img {
    height: 657px;
    left: 146px;
    top: 186px;
}

.maditation img {
    width: 24.05px;
    height: 25.05px;
    left: 1109px;
    top: 659px;
}


/*My skills*/

.skills {
    /*display: flex;
    flex-direction: row;
        justify-content: center;
    justify-content: space-between;*/
}

.knowledge {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skills h1 {
    font-family: 'Sumana', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 70px;
    letter-spacing: 0.05em;
    color: #000000;
}

.skills ul {
    list-style-type: none;
}

.skills li {
    justify-content: space-between;
    display: inline;
    position: relative;
    left: 288px;
    padding: 25px;
}

.ux,
.ui,
.front-end {
    margin: 100px;
}

.skills h2 {
    display: table-cell;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.skills .knoledge {
    display: table-cell;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    align-items: center;
    letter-spacing: 0.05em;
    color: #000000;
    position: relative;
    width: 300px;
    padding-top: 10px;
    text-align: left;
    margin-top: 0px;
}


/*Education*/

.education {
    display: flex;
    justify-content: flex;
    padding-left: 135px;
}

.education H1 {
    font-family: 'Sumana', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 70px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.education ul {
    /* GWU */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.231818px;
    color: #000000;
    list-style-type: none;
    padding-left: 0px;
}


/*Resume*/

.education H2 {
    font-family: 'Sumana', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 70px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #000000;
    padding-left: 344px;
}

hr {
    border: 4px solid #FFD2DD;
}


/*My work*/

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrapper .work-section {
    display: table-cell;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    align-items: center;
    letter-spacing: 0.05em;
    color: #000000;
    position: relative;
    width: 300px;
    padding-top: 10px;
    text-align: left;
    margin-top: 0px;
    margin: 100px;
}

.mywork h1 {
    font-family: 'Sumana', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 70px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.mywork ul {
    align-items: center;
    padding-inline-start: 0px;
    list-style-type: none;
}

.mywork .lotos li {
    justify-content: space-between;
    display: inline;
    position: relative;
    left: 288px;
}

section.info {
    padding-left: 100px;
}

#regular {
    font-weight: normal;
}

work-selectionn {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .left {
        display: none;
    }
    .knowledge {
        flex-direction: column;
    }
    .wrapper {
        flex-direction: column;
    }
    .skills {
        padding-top: 100px;
    }
}